$black: #000;
$gray: #666;
$white: #fff;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}
$colors: (
    'white': (base: $white),
    'black': (base: $black),
    'gray': (
        base: $gray,
        light: tint($gray, 25%),
        lighter: tint($gray, 50%),
        lightest: tint($gray, 75%),
        dark: shade($gray, 25%),
        darker: shade($gray, 50%),
        darkest: shade($gray, 75%)
    )
);
@function get-color($color-string) {
    $pos: str-index($color-string, '-');
    $shade: if($pos == null, base, str-slice($color-string, 0, $pos - 1));
    $color: if($pos == null, $color-string, str-slice($color-string, $pos + 1));

    @return map-get(map-get($colors, $color), $shade);
}

